/* 重置样式 */
*{
    padding: 0;
    margin: 0;
}
li,ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/* header样式 */
.headerwrap{
    background-color: #1a1a1a;
}
.header{
    width: 1200px;
    height: 45px;
    margin: 0 auto;
}
